// Write Your Styles Here - Use `gulp` to compile to CSS
// Gulp build designed to split these up into partial files as you better learn SASS.


/********* Universal Styles **********/

@import url('https://fonts.googleapis.com/css?family=Exo');

body {
  font-family: 'Exo', sans-serif;
}

/*********** Header Styles ***********/

.main-header {
  background-color: #02d0ac;
  color: #FFF;
}

.logo-div {

}

.drowsy-user-menu {
  color: #FFF;
  padding: 1.25em;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
  float: right;
}

.main-header h2 {
  display: none;
}

.main-header li, .drowsy-main-menu li {
  font-size: 1.25em;
  display: inline;
}

.drowsy-user-menu .menu a:link,
.drowsy-user-menu .menu a:visited,
.drowsy-user-menu .menu a:active {
  color: #FFF;
  text-decoration: none;
}

.drowsy-user-menu .menu a:hover {
  text-transform: uppercase;
}

/********** Main Content Styles *********/



/*********** Available Colors ***********
#02d0ac
#1ba3e1
#6d2908
#6e0000
#bb0f00
*****************************************/
