// Write Your Styles Here - Use `gulp` to compile to CSS
// Gulp build designed to split these up into partial files as you better learn SASS.

/*********** Available Colors ***********/
$green: #02d0ac;
$blue: #1ba3e1;
$brown: #6d2908;
$maroon: #6e0000;
$red: #bb0f00;

/*********** Available Fonts ***********/
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Philosopher');

$font-primary: 'Philosopher', sans-serif;
$font-secondary: 'Alegreya Sans SC', sans-serif;

/********* Universal Styles **********/

body {
  font-family: $font-secondary;
  font-size: 16px;
}

/*********** Header Styles ***********/

.jumbotron {
  background-color: $blue;
  margin-bottom: -10px;
}

img.jumbotron {
    display: block;
    margin: 0 auto;
}

.main-header {
  background-color: $green;
  margin-bottom: 2em;
}

.drowsy-user-menu,
.drowsy-main-menu {
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
  font-size: 1.25em;
}

.drowsy-user-menu .menu a:link,
.drowsy-user-menu .menu a:visited,
.drowsy-user-menu .menu a:active,
.drowsy-main-menu .menu a:link,
.drowsy-main-menu .menu a:visited,
.drowsy-main-menu .menu a:active {
  color: #FFF;
  text-decoration: none;
}

.drowsy-user-menu .menu a:hover,
.drowsy-main-menu .menu a:hover {
  color: $red;
  text-shadow: none;
}


.main-header h2 {
  display: none;
}

.drowsy-user-menu li,
.drowsy-main-menu li {
  display: inline-block;
}


/********** Main Content Styles *********/

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

.field-type-taxonomy-term-reference .field-item {
  display: inline;
  margin-right: 10px;
}

table {
    border-spacing: 10px;
    border-collapse: separate;
}

td {
    padding: 10px;
}


/********** Main Footer Styles *********/

.main-footer {
  font-size: .75em;
  width: 100%;
  height: 300px;
  border-bottom: solid 280px $red;
  text-align: center;
}
